body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}
.hidden {
  display: none;
}

.pagination__btn-active {
  background-color: #408ad2;
  color: #fff;
}

.pagination__btn-active {
  background-color: #408ad2;
  color: #fff;
}
