body {
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}
.hidden {
  display: none;
}

.page__main {
  padding: 1.5rem;
}

.login {
  width: 90%;
  margin: auto;
  border: solid 0.5px $color-light-grey;
  padding: 1.5rem;
  border-radius: 0.5rem;
  @media all and (min-width: 768px) {
    width: 65%;
    padding: 3rem;
  }
  @media all and (min-width: 1024px) {
    width: 60%;
  }
  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    color: $color-secondary;
    margin-bottom: 0.5rem;
    @media all and (min-width: 768px) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  &__form {
    display: inline-block;
    @media all and (min-width: 768px) {
      text-align: center;
    }

    &--input {
      width: 90%;
      padding: 0.2rem 0;
      margin: 0.3rem;
      @media all and (min-width: 768px) {
        width: 300px;
        padding: 0.6rem 0;
        margin: 1rem;
      }
    }

    &--label {
      @media all and (min-width: 768px) {
        font-size: 1.8rem;
      }
    }
    &--containerbuton {
      text-align: center;
    }
    &--buton {
      color: $color-orange;
      background-color: white;
      border: solid $color-orange 2px;
      width: 4rem;
      height: 2rem;
      margin-top: 0.5rem;
      border-radius: 22.5px;
      font-size: 1rem;
      font-family: $font-main;
      text-align: center;
      transition: background-color 0.5s ease;
      @media all and (min-width: 768px) {
        width: 5rem;
        height: 3rem;
        margin-top: 1rem;
        font-size: 1.7rem;
      }
    }
    &--buton:hover {
      background-color: $color-orange;
      color: white;
    }
  }
}

.pagination__btn-active {
  background-color: $color-blue;
  color: #fff;
}

.pagination__btn-active {
  background-color: #408ad2;
  color: #fff;
}
